* {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	padding-top: 40px; /* To make room for the navbar */
	height: 100%;
}

body {
	font-family: sans-serif;
	color: #333;
	position: relative;
}

.post-field {
	background-color: rgba(5, 168, 255, 0.16) !important; /* With `!important` because I'm lazy and don't really care */
}